.first{
    display:flex;
    justify-content: space-evenly;

}
.second{
    display:flex;
    justify-content: space-evenly;

}
.third{
    display:flex;
    justify-content: space-evenly;

}